<div class="ng-cloak">
  <div ng-controller="AppController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a ui-sref='homeState' class="navbar-brand">Butte Skier</a>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Areas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="area in areas" role="presentation" class="pad-all-md">
                  <a ui-sref="areaState({ areaID: area.id })">{{area.name}}</a>
              </li>
              </ul>
            </li>
            <li><a ui-sref="eventState">Meetups</a></li>
            <li><a ui-sref="aboutState">About</a></li>
          </ul>
        </div>
        <span ng-if="user.isLoggedIn" class="navbar-text navbar-right navbar-link">Signed in as
          <a href="#" class="navbar-link" ui-sref='editUserState' ng-model="userName">{{userName}}</a>
          <a ng-show="user.isLoggedIn" href='#' ng-click="logout()" class="navbar-link">Logout</a>
        </span>
        <span ng-if="!user.isLoggedin" class="navbar-text navbar-right">
          <a ng-hide="user.isLoggedIn" ui-sref='loginState' class="navbar-link">Login</a>
          <a ng-hide="user.isLoggedIn" ui-sref='signUpState'class="navbar-link">Sign Up</a>
        </span>
      </div>
    </nav>
    <div map-display></div>
    <div id="view-container" ng-class="{'hidden': hideBackground}"ui-view></div>
  </div>
</div>
