<div class="row">
    <div class="col-xs-7">
        <img ng-repeat="img in area.grams" ng-if="img.visible" ng-src="{{img.standard_resolution_url}}">
    </div>
    <div class="col-xs-2 margin-l-md">
        <div ng-repeat="img in area.grams" ng-if="!img.visible">
            <img ng-click="imageToggle(area, $index)" src="{{img.thumb_nail_url}}" class="pad-b-md">
        </div>
    </div>
    <div class="col-xs-2">
        <div ng-include="'areas/action_column.html'"></div>
    </div>
</div>
<div class="row">
    <div class="pad-all-lg margin-b-lg col-xs-5">
        <div area-comments></div>
    </div>
    <div class="pad-all-lg margin-b-lg col-xs-5">
        <div ng-if="area.runs.length">
            <h3>Runs</h3>
            <div class="well" ng-repeat="run in area.runs">
                <h5>{{run.name}}</h5>
                <p>{{run.description}}</p>
            </div>
        </div>
    </div>
</div>