<div class="row">
    <div class="col-md-offset-2">
    	<div class="col-md-8">
		    <form class="well" ng-submit="submitUserEditForm()">
		        <formly-form fields="userFields" form="userForm" model="userFormData">
		            <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Submit</button>
		            <span class="btn btn-danger" ng-click="delete = 'true'">Delete Account</span>
		            <div ng-if="delete == 'true'" class="well margin-t-md">
		            	<h5>Are you sure?</h5>
		            	Deleting your account will result in the loss of all associated data
		            	<span class="btn btn-danger" ng-click="deleteUser()">Delete Account</span>
		            </div>
		        </formly-form>
		    </form>
		    <div class="well">
		    	<div class="col-md-2">
		    		<img ng-if="!user.profile_img" height="50" width="50" ng-src="images/blank_user_image.png">
		    		<img ng-if="user.profile_img" height="50" width="50" ng-src="{{user.profile_img}}">
		    	</div>
		    	<div class="col-mid-7">
					<div upload-button
						on-success="uploadOnSuccess(response)"
		  				url="/v1/uploads">
		  				<label>Upload profile Image</label>
		  			</div>
		    	</div> 
		    </div>
		    
		</div>
    </div>
</div>