/* General Usage */
.pad-all-sm {padding: 5px;}
.pad-all-md {padding: 10px;}
.pad-all-lg {padding: 20px;}
.pad-none {padding: 0;}
.pad-v-sm {padding: 0 5px;}
.pad-v-md {padding: 0 10px;}
.pad-v-lg {padding: 0 20px;}
.pad-h-sm {padding: 5px 0;}
.pad-h-md {padding: 10px 0;}
.pad-h-lg {padding: 20px 0;}
.pad-l-sm {padding-left: 5px;}
.pad-l-md {padding-left: 10px;}
.pad-l-lg {padding-left: 20px;}
.pad-t-sm {padding-top: 5px;}
.pad-t-md {padding-top: 10px;}
.pad-t-lg {padding-top: 20px;}
.pad-r-sm {padding-right: 5px;}
.pad-r-md {padding-right: 10px;}
.pad-r-lg {padding-right: 20px;}
.pad-b-sm {padding-bottom: 5px;}
.pad-b-md {padding-bottom: 10px;}
.pad-b-lg {padding-bottom: 20px;}

.margin-all-sm {margin: 5px;}
.margin-all-md {margin: 10px;}
.margin-all-lg {margin: 20px;}
.margin-v-sm {margin: 0 5px;}
.margin-v-md {margin: 0 10px;}
.margin-v-lg {margin: 0 20px;}
.margin-h-sm {margin: 5px 0;}
.margin-h-md {margin: 10px 0;}
.margin-h-lg {margin: 20px 0;}
.margin-l-sm {margin-left: 5px;}
.margin-l-md {margin-left: 10px;}
.margin-l-lg {margin-left: 20px;}
.margin-t-sm {margin-top: 5px;}
.margin-t-md {margin-top: 10px;}
.margin-t-lg {margin-top: 20px;}
.margin-r-sm {margin-right: 5px;}
.margin-r-md {margin-right: 10px;}
.margin-r-lg {margin-right: 20px;}
.margin-b-sm {margin-bottom: 5px;}
.margin-b-md {margin-bottom: 10px;}
.margin-b-lg {margin-bottom: 20px;}

li {list-style-type: none;}

/* Font */
.font-size-sm {font-size: 80%;}
.font-size-md {font-size: 105%;}
.font-size-lg {font-size: 115%;}
.font-size-xl {font-size: 150%;}

.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-600 {font-weight: 600;}
.font-weight-800 {font-weight: 800;}

/* Display */
.block {display: block;}
.hidden {display: none;}
.show {display: block;}
.right {float: right;}
.left {float: left;}

/* buttons */
/*.btn { background: whitesmoke;}*/

/* Primary Nav */
.navbar-default {margin-bottom: 0;}

/* Sidebar Nav */
#slideout-inner, #slideout-toggle, #view-container, .navbar, .dropdown-menu {background: rgba(225, 225, 225, .8);  }
#slideout-inner, #slideout-toggle, #view-container{height: 100%;}
#slideout, #slideout-inner{
    position: fixed;
    top: 50px;
    padding-left: 10px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#slideout-toggle, #slideout-inner a {color: #000000; font-weight: 500}
#slideout {  z-index: 1000;  left: 0;  }
#slideout-inner {  left: -250px;  }
#slideout:hover #slideout-toggle{  visibility: hidden;  }
#slideout:hover #slideout-inner {  left: 0;  }

/* Primary Display/ngView */
#view-container {
    display: block;
    position: fixed;
    top: 50px;
    left: 160px;
    width: 77%;
    z-index: 1000;
}
/* Misc */
.angular-google-map-container { height: 800px;}
.modal {z-index: 1000;}
.circular-img {-moz-border-radius: 30px; border-radius: 30px;}

/* Area Style */
#area-container {height: 100%; overflow: auto;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color: transparent;}
.commentary-container {max-height: 500px; overflow: auto;}
/* Comment Style */
.comment-headline{font-weight: 400; font-size: medium; color: darkgoldenrod;}
.comment-body {color: grey;}