<div>
	<div class="row">
		<div class="col-md-3">
			<div class="pad-l-lg">
				<h2>Event Listing <small>
					<span ng-click="showEventForm = !showEventForm">
						<span ng-if="!showEventForm">&#43;</span>
	                	<span ng-if="showEventForm">&#45;</span>
                	</span>
				</small></h2>
				<div class="well" ng-if="showEventForm" ng-include="'events/create_event.html'"></div>
				<div id="event-container">
					<div ng-repeat="event in events" class="well">
						<a href="/meetup/detail/{{event.id}}">
							<h4>{{event.title}} </h4>
						</a>
						<span>{{event.start | date: 'medium'}}</span><br/>
						{{event.agenda}}
						<a href="#" ng-if="event.user_id == user.id" ng-click="deleteEvent(event.id, $index)" class="font-weight-400" style="cursor: hand;" data-toggle="tooltip" title="Delete Event?">&#10005;</a>
						<br/>
						<img class="circular-img" height="50" width="50" ng-src="{{event.user.profile_img}}"> {{event.user.username}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div id="calendar" class="pad-all-lg" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
		</div>
	</div>
</div>
