<!DOCTYPE html>
<html>
<head>
  <title>Skiapp</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmhe-K16vl668yPspoGRIThgYD4AwwRYU"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.0/slick.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.0/slick-theme.css" rel="stylesheet"/>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
